<!-- <div class="container">

    <form id="form" >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Primer Número</label>
          <input type="number" class="form-control" id="valor1" name="valor1" [(ngModel)]="valor1">
     
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Segundo Número</label>
            <input type="number" class="form-control" id="valor2" name="valor2" 
            [(ngModel)]="valor2">
        </div>
        <div class="mb-3 form-check">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="select-operacion">
                <option selected>Elige operación</option>
                <option value="suma">Suma</option>
                <option value="resta">Resta</option>
                <option value="multi">Multiplicación</option>
                <option value="divi">División</option>
              </select>
        </div>
        <button type="submit" class="btn btn-primary">Resolver</button>
        <div>
            <!-- <p >{{Mensaje}}</p> 
        </div>
      </form>

</div> -->