<pre>{{contactForm.value | json}}</pre>
<h1>Contact form</h1>

<form action="" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <div class="mb-4">
        <label for="" class="form-label">Name</label>
        <input type="text" name="name" id="name" [(ngModel)]="model.name" #name="ngModel" required class="form-control"/>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required</div>
    </div>
    <div class="mb-4 form-check">
        <label for="checkAdult" class="form-label">Are you over 18 years of age?</label>
        <input type="checkbox" name="checkAdult" id="checkAdult" class="form-check-input" [(ngModel)]="model.checkAdult" required #checkAdult="ngModel">
        <div [hidden]="checkAdult.valid || checkAdult.pristine" class="alert alert-danger">This field is required</div>
    </div>
    <div class="mb-4">
        <label for="" class="form-label">Departament</label>
        <select name="departament" id="departament" class="form-select form-select-sm" [(ngModel)]="model.departament" #departament="ngModel">
            <option selected>Open this select menu</option>
            <option value="marketing">Marketing</option>
            <option value="sales">Sales</option>
            <option value="other">Other</option>
        </select>
        <div [hidden]="departament.valid || departament.pristine" class="alert alert-danger">This field is required</div>
    </div>
    <div class="mb-4">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="comment" id="" rows="4" class="form-control" placeholder="Leave your comment ....
        " [(ngModel)]="model.comment " #comment="ngModel" required></textarea>
         <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">This field is required</div>
    </div>
    <div class="d-grid float-end gap-2 col-4">
        <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">send</button>
    </div>
</form>

